<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Check</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid" style="padding:50px" id="form_column">
    <form action="/{{ via }}" method="post">
        <div class="row">
            <div class="col-xs-10 col-sm-10">
                <h3>目标库</h3>
        <div class="btn-group-lg">
            <label class="btn-lg btn-group-lg" style="cursor: pointer;">
                <input type="radio" name="folder" id="option1" autocomplete="off" value="fml" checked>fml
            </label>
            <label class="btn-lg btn-group-lg" style="cursor: pointer;">
                <input type="radio" name="folder" id="option2" autocomplete="off" value="joke">joke
            </label>
            <label class="btn-lg btn-group-lg" style="cursor: pointer;">
                <input type="radio" name="folder" id="option3" autocomplete="off" value="dirty">dirty
            </label>
        </div>
            </div>
            <div class="col-xs-2 col-sm-2">
                <input type="hidden" class="form-control" name="etag" value="{{ etag }}">
                <input type="hidden" class="form-control" name="id" value="{{ id }}">
            </div>
        </div>
        <fieldset class="form-group">
            <label for="display"><h3>原文</h3></label>
            <textarea class="form-control" rows="5" name="display_text" placeholder="Readonly input here…" readonly>{{ content }}</textarea>
        </fieldset>

        <fieldset class="form-group">
            <label for="Edit"><h3>编辑</h3></label>
            <textarea class="form-control" rows="5" name="edit_text" placeholder="Edit here…" >{{ content }}</textarea>
        </fieldset>
        <hr>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon1">作者:</span>
                    <input type="text" class="form-control" name="author" placeholder="{{ author }}"
                           aria-describedby="sizing-addon1" value="{{ author }}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon2">来源:</span>
                    <input type="text" class="form-control" name="via" placeholder="{{ via }}"
                           aria-describedby="sizing-addon1" value="{{ via }}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon3">地址:</span>
                    <input type="text" class="form-control" name="via_url" placeholder="{{ via_url }}"
                           aria-describedby="sizing-addon1" value="{{ via_url }}">
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="sizing-addon4">答案:</span>
                    <input type="text" class="form-control" name="answer" placeholder="{{ answer }}"
                           aria-describedby="sizing-addon1" value="{{ answer }}">
                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-xs-6 col-sm-9">
                <h3>总条数: {{ total }}</h3>
            </div>
            <div class="col-xs-2 col-sm-1">
                <button type="submit" class="btn btn-default btn-lg pull-left">
                    <span class="glyphicon glyphicon-floppy-saved" aria-hidden="true"></span> Save
                </button>
            </div>
            <div class="col-xs-2 col-sm-1" id="next_column">
                <a href="/next/{{ next_url }}">
                <button type="button" class="btn btn-default btn-lg pull-left">
                    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Next
                </button></a>
            </div>
            <div class="col-xs-2 col-sm-1">
                <a href="/delete/{{ via_name }}/{{ id }}/{{ etag }}">
                <button type="button" class="btn btn-default btn-lg pull-left">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                </button></a>
            </div>
        </div>
    </form>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        var via = $('#next_column > a').attr('href').split('/')[2];
        if (via == 'None'){
            $('#next_column > a > button').attr('disabled', 'disabled');
        }else if (via == 'fml' || via == 'joke' || via == 'dirty'){
            $('#form_column > form').attr('action', '/' + via);
            $('#form_column > form').attr('method', 'patch');
        }else{
            console.log(via);
        }
    });
</script>
</body>
</html>